body {
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
    /* overflow: hidden; */
  }
  #game {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(18, 30px);
    gap: 1px;
    background: #222;
    border: 2px solid #555;
    margin-top: 10px;
  }
  .cell {
    width: 30px;
    height: 30px;
    background: #000;
  }
  .filled {
    background: var(--color);
    box-shadow: 0 0 5px var(--color);
  }
  #info {
    text-align: center;
  }
  #controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
  }
  button {
    background: #444;
    color: white;
    padding: 16px 27px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s;
  }
  button:active {
    transform: scale(0.9);
  }
  @media (min-width: 700px) {
    #controls { display: none; }
  }

  #startBtn {
  padding: 10px 20px;
  font-size: 18px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}
#startBtn:hover {
  background: #218838;
}

#pauseBtn {
  background-color: #ffaa00;
  color: #fff;
  display: none; /* hidden until game starts */
  padding: 5px 15px;
}
